<!DOCTYPE HTML>
<html style="width: 100%; height: 100%;">
    <head> 
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no, maximum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags --> 
        <meta name="description" content="">
        <meta name="author" content="">
        <title> {% block title %} InnovAnglais - Apprendre l'anglais facilement {% endblock %}</title>   
        <link rel="stylesheet" href="//pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/logo_innovanglais.png') }}">
        <link href=" {{ asset('css/bootstrap.min.css') }}" rel="stylesheet"> 
        <link href=" {{ asset('css/main.css') }}" rel="stylesheet">
        <script src=" {{ asset('js/main.js') }}"></script>
        {% block style %} {% endblock %} 
    </head>    
    <body style="width: 100%; height: 100%;">      
        {% block body %}     
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ path('index') }}"><img src={{ asset('img/logo_innovanglais.png') }} alt="" style="width: 110px;"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('index') }}">Accueil</a>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('test') }}">Quiz</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %} 
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Administration
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('category_list') }}">Catégories</a>
                                    <a class="dropdown-item" href="{{ path('firm_list') }}">Entreprises</a>
                                    <a class="dropdown-item" href="{{ path('level_list') }}">Niveaux</a>
                                    <a class="dropdown-item" href="{{ path('subscription_list') }}">Abonnements</a>
                                    {# <a class="dropdown-item" href="{{ path('date_list') }}">Dates</a> #}
                                    <a class="dropdown-item" href="{{ path('test_list') }}">Quiz</a>
                                    <a class="dropdown-item" href="{{ path('theme_list') }}">Thèmes</a>
                                    <a class="dropdown-item" href="{{ path('user_list') }}">Utilisateurs</a>
                                    <a class="dropdown-item" href="{{ path('vocabulary_list') }}">Vocabulaire</a>
                                    <a class="dropdown-item" href="{{ path('admin') }}">Utilisateurs bloqués</a>

                                </div>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %} 
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Mon compte
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('account') }}">Mon compte</a>
                                    <a class="dropdown-item" href="{{ path('account') }}">Mes quiz</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="float-right">

                        <ul class="navbar-nav"  >
                            {% if is_granted('ROLE_ADMIN') %} 
                                <li  class="nav-link nav-item active" style="color: black;" >Vous êtes connecté en tant que {{ app.user.username }} (Admin)</li>
                                {% else %} 
                                    {% if is_granted('ROLE_USER') %}
                                    <li  class="nav-link" style="color: black;" >Vous êtes connecté en tant que {{ app.user.username }} (Utilisateur)</li> 
                                    {% endif %} 
                                {% endif %}
                                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Se connecter</a></li>
                                {% else %} 
                                <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                                {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            {% block contenu %}         
            {% endblock %}
        {% endblock %}   
        <!-- Bootstrap core JavaScript    ================================================== --> 
        <!-- Placed at the end of the document so the pages load faster --> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('js/jquery-3.2.1.min.js')}}"><\/script>')</script>
        <script src="{{ asset('js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('js/script.js')}}"></script>
        {% block js %}

        {% endblock %}
    </body>
</html>