{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>Expectation failed</h3>
            <div class="text-center"><strong>Erreur 417:</strong> Comportement attendu et défini dans l’en-tête de la requête insatisfaisante.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}