{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>Gone</h3>
            <div class="text-center"><strong>Erreur 410:</strong> La ressource n'est plus disponible et aucune adresse de redirection n’est connue.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}