{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>Forbidden</h3>
            <div class="text-center"><strong>Erreur 403:</strong> Le serveur a compris la requête, mais refuse de l'exécuter. Vérifiez les droits sur le serveur.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}