{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>Retry With</h3>
            <div class="text-center"><strong>Erreur 449:</strong> Code défini par Microsoft. La requête devrait être renvoyée après avoir effectué une action.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}