{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>Locked</h3>
            <div class="text-center"><strong>Erreur 423:</strong> WebDAV : L’opération ne peut avoir lieu car la ressource est verrouillée.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}