{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>Request Header Fields Too Large</h3>
            <div class="text-center"><strong>Erreur 431:</strong> RFC 6585 Les entêtes HTTP émises dépassent la taille maximale admise par le serveur.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}