{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>Unprocessable entity</h3>
            <div class="text-center"><strong>Erreur 422:</strong> WebDAV : L’entité fournie avec la requête est incompréhensible ou incomplète.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}