{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>No Response</h3>
            <div class="text-center"><strong>Erreur 444:</strong> Indique que le serveur n'a retourné aucune information vers le client et a fermé la connexion.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}