{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>Too Many Requests</h3>
            <div class="text-center"><strong>Erreur 429:</strong> RFC 658513 Le client a émis trop de requêtes dans un délai donné.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}