{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>Unauthorized</h3>
            <div class="text-center"><strong>Erreur 401:</strong> Une authentification est nécessaire pour accéder à la ressource.</div>
        </div>
        <div class='row'>
            <div class="text-center"><small>Si vous pensez qu'il s'agit d'une erreur, contactez l'administrateur.</small></div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}