{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>Unavailable For Legal Reasons</h3>
            <div class="text-center"><strong>Erreur 451:</strong> Ce code d'erreur indique que la ressource demandée est inaccessible pour des raisons d'ordre légal.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}