{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>Not Acceptable</h3>
            <div class="text-center"><strong>Erreur 406:</strong> La ressource demandée n'est pas disponible dans un format qui respecterait les en-têtes "Accept" de la requête.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}