{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>Upgrade Required</h3>
            <div class="text-center"><strong>Erreur 426:</strong> RFC 2817 Le client devrait changer de protocole, par exemple au profit de TLS/1.0.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}