 /* Compare Banners Start */
 .banner.compare {
    .hero-area {
        padding: 87px 0 120px;

        .banner-content {
            text-align: center;
            color: #fff;
        }
    }
}

/* Provaider Start */
.provaider {
    padding: 120px 0 120px;

    .secure {
        background: -webkit-linear-gradient(left, rgba(252, 230, 255, 1) 1%, rgba(236, 239, 255, 1) 100%);
        background: linear-gradient(to right, rgba(252, 230, 255, 1) 1%, rgba(236, 239, 255, 1) 100%);
        border-radius: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 5px 30px 5px;

        .sucure-icon {
            margin-right: 30px;
        }
        p.text {
            color: $body-color-2;
            font-weight: 500;

            a {
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                color: $body-color-2;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .provaider-match {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: $body-color-2;
        margin: 60px 0 0px;

        p.text.two {
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
        }
    }

    .provaider-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 22.5px 2.5px rgba(83, 87, 110, 0.1);
        position: relative;
        margin-top: 30px;

        .ribbon {
            .ribbon-img {
                position: absolute;
                top: 0%;
                left: 0%;
                width: 7%;
            }
        }

        .rating {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            text-align: center;
            padding: 25px 30px 25px;
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;

            .partner-img {
                box-shadow: 0px 5px 60px 0px rgb(23 29 113 / 15%);
                background: rgba(255, 255, 255, 0.275);
                border-radius: 10px;
                width: 161px;
                height: 61px;
                margin: 0 auto;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                img{
                    width: 80%;
                }
            }

            p.text {
                color: #727192;
                font-size: 13px;
                line-height: 26px;
                margin: 14px 0 13px;

                i {
                    color: #f6d436;
                }
            }

            a.link {
                font-size: 13px;
                line-height: 26px;
                color: #4b5eff;
            }
        }

        .content {

            .pament-box {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                padding: 30px 30px 30px;
                position: relative;

                &:after {
                    position: absolute;
                    bottom: 0%;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                            transform: translateX(-50%);
                    content: "";
                    width: 90%;
                    height: 1px;
                    background: rgb(231, 228, 252);
                }

                .pament {
                    position: relative;

                    &:after {
                        position: absolute;
                        top: 50%;
                        right: -50%;
                        -webkit-transform: translateY(-50%);
                                transform: translateY(-50%);
                        content: "";
                        width: 1px;
                        height: 95%;
                        background: rgb(231, 228, 252);
                    }

                    p.text {
                        font-size: 16px;
                        font-weight: 400;
                        color: $body-color-4;
                        line-height: 1.75;

                        img {
                            margin-right: 5px;
                        }

                        span {
                            line-height: 1.75;
                            color: #444057;
                        }
                    }

                    margin-right: 170px;
                }

                .exchange {
                    p.text {
                        font-size: 16px;
                        font-weight: 400;
                        color: #444057;
                        line-height: 1.75;

                        img {
                            margin-right: 5px;
                        }

                        span {
                            line-height: 1.75;
                            font-weight: 700;
                            color: #3a335b;
                        }
                    }
                }

            }

            .free-transfer {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                padding: 10px 30px 10px;

                .free-icon {
                    margin-right: 25px;
                }

                p.text {
                    font-size: 14px;
                    font-weight: 400;
                    color: $body-color-4;
                    line-height: 24px;
                }
            }
        }

        .total {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin-left: auto;
            background: #fbfcff;
            text-align: center;
            padding: 0px 60px 3px;

            p.text {
                color: #292669;
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                line-height: 1.5;
                font-weight: 400;
            }

            h4.amount {
                color: rgb(41, 38, 105);
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                line-height: 1.167;
                font-weight: 700;
                margin: 4px 0 4px;
            }

            a.button {
                border-radius: 10px;
                background-color: rgb(255, 180, 0);
                box-shadow: 0px 5px 13.28px 2.72px rgba(0, 0, 0, 0.1);
                width: 120px;
                height: 40px;
                font-size: 14px;
                color: rgb(255, 255, 255);
                font-weight: 700;
                text-transform: uppercase;
                line-height: 1.714;
                font-family: 'Roboto', sans-serif;
                border: none;
                margin: 23px auto 0 auto;
                -webkit-transition: 0.1s;
                transition: 0.1s;
                &:hover{
                    background-color: rgb(245, 174, 8);
                }
            }
        }
    }
}

/* update compare  Start */
.update.compare {
    background: -webkit-linear-gradient(left, rgba(252, 230, 255, 1) 1%, rgba(236, 239, 255, 1) 100%);
    background: linear-gradient(to right, rgba(252, 230, 255, 1) 1%, rgba(236, 239, 255, 1) 100%);
    padding: 50px 0 50px;
    margin: 120px 0 120px;

    .girl {
        .alert-girl {
            position: absolute;
            bottom: 10px;
            left: 2%;
            -webkit-animation: dan-bam 3s linear infinite;
                    animation: dan-bam 3s linear infinite;
        }
    }
}

.how-use.compare .usesape .usesape-img {
    position: absolute;
    top: auto;
    left: -3%;
    bottom: -32%;
    z-index: -1;
    width: 45%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}