  /* Contact Banners Start */
.banner.contact {
    padding-bottom: 0px;
    margin-bottom: 285px;

    .bubble {
        .bubble-img {
            position: absolute;
            bottom: -58%;
            right: 0%;
            z-index: -1;
            width: 50%;
            -webkit-animation: borosoto 3s linear infinite;
                    animation: borosoto 3s linear infinite;
        }
    }

    .hero-area {
        padding: 100px 0px 120px;
        .banner-content { 
            h2.title {
                color: #fff;
            }

            p.text {
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                padding-top: 10px;
            }
        }
        .contact-info{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row; 
            -webkit-box-align: center; 
                -ms-flex-align: center; 
                    align-items: center;
            padding: 30px 0px 30px;   
            position: absolute;
            bottom: -68%;
             
            .info-box{
                text-align: center;
                .icon{
                    margin: 0 auto;
                    border-radius: 50%;
                    background-color: rgb(255, 255, 255);
                    box-shadow: 0px 10px 20px 0px rgba(50, 35, 215, 0.1);
                    width: 80px;
                    height: 80px;
                    position: relative;
                    .pic{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                                transform: translate(-50%, -50%);
                    }
                }
                p.text{
                    color: #667ca2;
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 500; 
                    padding: 24px 0 9px;
                }
                span{
                    font-family: 'Poppins', sans-serif;
                    display: block;
                    color: #142645;
                    font-size: 18px;
                    font-weight: 28px;
                }
            }
            .info-box.one{
                margin-right: 120px;
            }
        } 
        .hero-form.contact {
            margin-bottom: -406px;
            text-align: center;
            padding: 23px 30px 30px;

            h3.subtitle {
                color: #fff;
                font-weight: 700;
            }

            p.text {
                font-weight: 400;
                padding: 13px 50px 16px;
                margin: 0;
            }

            input,
            textarea, button {
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                line-height: 1.556;
                font-weight: 400;
                color: rgb(174, 179, 197);
                border: 1px solid rgb(190, 190, 190);
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 10px 20px 0px rgba(50, 35, 215, 0.1);
                width: 100%;
                height: 48px;
                margin-top: 20px;
                border-radius: 30px;
                padding: 0 20px 0;
                
                &::-webkit-input-placeholder {
                    font-family: 'Roboto', sans-serif;
                    font-size: 18px;
                    line-height: 1.556;
                    font-weight: 400;
                    color: rgb(174, 179, 197);
                }
                
                &::-moz-placeholder {
                    font-family: 'Roboto', sans-serif;
                    font-size: 18px;
                    line-height: 1.556;
                    font-weight: 400;
                    color: rgb(174, 179, 197);
                }
                
                &:-ms-input-placeholder {
                    font-family: 'Roboto', sans-serif;
                    font-size: 18px;
                    line-height: 1.556;
                    font-weight: 400;
                    color: rgb(174, 179, 197);
                }
                
                &::placeholder {
                    font-family: 'Roboto', sans-serif;
                    font-size: 18px;
                    line-height: 1.556;
                    font-weight: 400;
                    color: rgb(174, 179, 197);
                }
            }
            textarea{
                min-height: 120px;
                padding: 10px 20px 0px;
            }
            button{
                background: #ffb400;
                font-size: 20px;
                line-height: 30px;
                font-weight: 500;
                color: #fff;
                border: none;
                margin-top: 30px;
                -webkit-transition: 0.1s;
                transition: 0.1s;
                &:hover{
                    background-color: rgb(245, 174, 8);
                }
            }


        }
    }
}
 
  