/* banner-review Start */
.banner.review {
    padding-bottom: 0px;

    .hero-area {
        padding: 100px 0 220px;
        position: relative;

        .banner-content {
            h2.title {
                color: #fff;
            }

            p.text { 
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                padding-top: 26px;
            }
        }

        .review-img {
            .review-pic {
                position: absolute;
                top: 3%;
                right: 0;
                width: 36%;
                -webkit-animation: dan-bam 3s linear infinite;
                        animation: dan-bam 3s linear infinite;
            }
        }
    }
}

/* overview Start */
.overview {
    padding: 120px 0 120px;

    .overview-text {
        h2.title {
            color: $body-color-2;
        }

        p.text {
            color: $body-color;
            padding-top: 10px;
        }
    }

    .powermoney {
        margin-top: 89px;

        h4.what {
            font-family: 'Poppins', sans-serif;
            font-size: 36px;
            line-height: 46px;
            font-weight: 600;
            color: $body-color-2;
        }

        p.text {
            color: $body-color;
            padding: 22px 0px 10px;
        }

        .list {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            line-height: 1.556;
            font-weight: 400;
            color: $body-color;

            .list-item {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                padding-top: 11px;

                i {
                    color: rgb(127, 214, 95);
                    line-height: 1.556;
                    margin-right: 18px;
                }

                p.text {
                    padding: 0;

                    span {
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .main-box {
        position: relative;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 5px 81px 0px rgba(55, 94, 246, 0.36);

        .pic {
            .mamu {
                position: absolute;
                top: -14%;
                right: -56%;
                width: 78%;
                z-index: -1;
            }
        }

        .list-box {
            color: $body-color-2;
            padding: 54px 30px 30px;

            .subtitle {
                text-align: center;
                padding-bottom: 10px;
            }

            .power-list {
                .list-item {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    font-weight: 500;
                    margin-top: 26px;

                    .check-icon {
                        font-size: 20px;
                        margin-right: 15px;
                    }
                }
            }
        }

        .rating {
            text-align: center;
            border-radius: 0px 0px 20px 20px;
            padding: 24px 30px 30px;
            background: -webkit-linear-gradient(45deg, rgba(254, 243, 255, 1) 1%, rgba(246, 247, 255, 1) 100%);
            background: linear-gradient(45deg, rgba(254, 243, 255, 1) 1%, rgba(246, 247, 255, 1) 100%);

            p.text {
                color: $body-color-2;
                font-weight: 500;
                margin-bottom: 12px;
            }

            .icon {
                i {
                    color: #ffb400;
                }

                span {
                    font-size: 13px;
                    line-height: 23px;
                    color: #727192;
                }
            }
        }
    }

    .go-site {
        border: 1px solid rgba(41, 38, 105, 0.1);
        margin-top: 40px;
        padding: 22px 30px 25px;
        border-radius: 10px;
        text-align: center;

        h3.subtitle {
            color: #48467c;
        }

        a.button {
            width: 220px;
            height: 60px;
            border-radius: 10px;
            background-color: rgb(255, 180, 0);
            box-shadow: 0px 5px 13.28px 2.72px rgba(0, 0, 0, 0.1);
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            line-height: 1.556;
            color: rgb(255, 255, 255);
            font-weight: 700;
            border: none;
            margin: 11px auto 11px auto;
            text-transform: uppercase;
            -webkit-transition: 0.1s;
            transition: 0.1s;
            &:hover{
                background-color: rgb(245, 174, 8);
            }
        }

        span {
            color: #48467c;
            font-size: 14px;
            line-height: 24px;

        }
    }
}

/* hcontent Start */
.hcontent {
    text-align: center;
    padding-bottom: 56px;

    h3.subtitle {
        color: $body-color-3;
    }

    h2.title {
        color: $body-color-2;
        padding: 18px 0 10px;
    }

    p.text {
        color: $body-color;
    }
}

/* prosandcoin Start */
.prosandcoin {
    padding: 114px 0 120px;
    position: relative;

    .shap {
        .pors-shap {
            position: absolute;
            top: -36%;
            left: -17%;
            width: 50%;
            z-index: -1;
        }

        .right-shap {
            position: absolute;
            right: -8%;
            bottom: 15%;
            width: 28%;
            z-index: -1;
        }
    }

    .pros,
    .cons {
        padding: 30px 20px 30px;
        border: 1px solid rgba(41, 38, 105, 0.1);
        border-radius: 10px;

        .icon {
            text-align: center;
            margin-bottom: 30px;
        }

        .list {
            .list-item {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                color: $body-color-2;
                background-color: rgba(255, 255, 255, 0.302);
                box-shadow: 0px 5px 50px 0px rgba(55, 94, 246, 0.1);
                padding: 20px 15px 20px;
                margin-top: 10px;
                border-radius: 3px;

                i {
                    color: #99ec7a;
                    line-height: 28px;
                    margin-right: 10px;
                }
            }
        }
    }

    .cons {
        padding: 30px 20px 57px;

        .list {
            .list-item {
                i {
                    color: #ffb1c0;
                }
            }
        }

    }
}

/* really-easy Start */
.really-easy {
    padding: 114px 0 120px;
    position: relative;
    .really-shap{
        .shap{
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            right: 0;
            width: 30%;
            z-index: -1;
        }
    }

    .hcontent h2.title {
        color: #292669;
        padding: 20px 0 27px;
    }
    .use-box {
        text-align: center;

        .img {
            position: relative;

            span {
                font-size: 28px;
                font-family: 'Roboto', sans-serif;
                color: rgb(254, 254, 254);
                font-weight: 700;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: rgb(94, 179, 63);
                line-height: 70px;
                position: absolute;
                top: 15px;
                left: 30px;
            }
        }

        .details {
            h3.subtitle {
                text-transform: uppercase;
                color: $body-color;
                font-weight: 700;
                padding: 32px 0 15px;
            }

            p.text {
                color: $body-color;
            }
        }
    }
    .button-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 56px;
        
        a.button.button-1{ 
            border-radius: 10px;
            background-color: rgb(255, 180, 0);
            box-shadow: 0px 5px 13.28px 2.72px rgba(0, 0, 0, 0.1);
            width: 200px;
            height: 60px;
            border: none;
            color: #fff;
            font-weight: 700;
            margin-right: 50px;
            text-transform: uppercase;
            -webkit-transition: 0.1s;
            transition: 0.1s;
            &:hover{
                background-color: rgb(245, 174, 8);
            }
        }
        .video-box { 
            display: -webkit-box; 
            display: -ms-flexbox; 
            display: flex; 
            .video-img {
                position: relative;

                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    color: #fff;
                    border: 1px solid rgb(255, 255, 255);
                    background-color: rgba(106, 78, 225, 0.502);
                    border-radius: 50%;
                    width: 44px;
                    height: 44px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                }
            }

        }
    }
}

/* testomonial man Start */
.testomonial.man {
    padding: 114px 0 120px;
    position: relative;
    .sape{
        .test-sape{
            position: absolute;
            top: -4%;
            left: 8%;
            width: 44%;
            z-index: -1;
        }
    }
    .man-testo{
        .man-pic{
            position: absolute;
            top: 35%;
            left: -1%;
            width: 15%;
            z-index: -1;
        }
    }

    .testo-box {
        text-align: center;
        padding: 0px 55px;
        margin-top: 0px; 
    }
    .hcontent{
        text-align: left;
        h2.title{
            padding: 12px 0px 11px;
        }
    }
 
}

/* feature-box Start */
.feature-box {
    padding: 106px 0px 120px;
    position: relative;

    .fcontent-box{
        h2.title{
            color: $body-color-2;
            margin-bottom: 10px;
        }
        p.text{
            color: $body-color;
            span{
                font-weight: 500;
            }
        }
        a.button{
            border-radius: 10px;
            background-color: rgb(255, 180, 0);
            box-shadow: 0px 5px 13.28px 2.72px rgba(0, 0, 0, 0.1);
            width: 200px;
            height: 60px; 
            color: #fff;
            border: none;
            font-weight: 700;
            margin-top: 36px;
            text-transform: uppercase;
            -webkit-transition: 0.1s;
            transition: 0.1s;
            &:hover{
                background-color: rgb(245, 174, 8);
            }
        }
        .list{
            padding-top: 20px;

            li{ 
                &:first-child{
                    font-weight: 400;
                }
                padding-top: 10px;
                i{
                    line-height: 28px;
                    color: #99ec7a;
                    margin-right: 10px;
                }
                font-weight: 500;
                color: $body-color-2;
            }
        }
    }

    .featureimg{
        .pic.left{
            position: absolute;
            right: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            width: 35%;
        }
    }
    .featureimg{
        .pic.right{
            position: absolute;
            right: auto;
            left: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            width: 35%;
        }
    }
} 

.feature-box.four .fcontent-box h2.title {
    color: #292669;
    margin-bottom: 26px;
}

/* blog Start */
.blog{
    padding: 114px 0 238px;

    .hcontent{
        h2.title{
            padding: 19px 0 26px;
        }
    }
    .blog-box{ 
        position: relative;
        text-align: center;  
        .imgg {
            .blog-img {
                width: 100%;
            }
        }
        .text-box{
            position: absolute; 
            margin: -30px 20px 0 20px;
            text-align: center;
            padding: 24px 15px 25px;
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            box-shadow: 4.881px -10.963px 22.5px 2.5px rgba(83, 87, 110, 0.1);
            .blog-title{
                font-family: 'Poppins', sans-serif;
                font-size: 22px;
                line-height: 32px;
                font-weight: 600;
                color: $body-color-2;  
            }
            span{
                padding-top: 11px;
                display: block;
                font-family: 'Roboto', sans-serif;
                color: #9493af;
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
            }
        }
    }
}
 
