{% extends "base.html.twig" %}

{% block style %}
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:300);
        .background {
            background: url('../web/images/bg01.jpg') ;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .login-page {
            width: 360px;
            padding: 8% 0 0;
            margin: auto;
        }
        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 460px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }
        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }
        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #4CAF50;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }
        .form button:hover,.form button:active,.form button:focus {
            background: #43A047;
        }
        .form .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
        }
        .form .message a {
            color: #4CAF50;
            text-decoration: none;
        }
        .form .register-form {
            display: none;
        }
        .container {
            position: relative;
            z-index: 1;
            max-width: 300px;
            margin: 0 auto;
        }
        .container:before, .container:after {
            content: "";
            display: block;
            clear: both;
        }
        .container .info {
            margin: 50px auto;
            text-align: center;
        }
        .container .info h1 {
            margin: 0 0 15px;
            padding: 0;
            font-size: 36px;
            font-weight: 300;
            color: #1a1a1a;
        }
        .container .info span {
            color: #4d4d4d;
            font-size: 12px;
        }
        .container .info span a {
            color: #000000;
            text-decoration: none;
        }
        .container .info span .fa {
            color: #2aa633;
        }
    </style>
{% endblock %}

{% block contenue %}
    <div class='container-fluid'>
        <div class="row">
            <div class="col-sm-12 text-center mb-5 mb-lg-5" style='margin-top: 100px;'>
                <div class="form">
                    {% if form.valide is defined %}
                        {% if form.valide == false %}
                            <h1 class="h3 mb-3 font-weight-normal">Erreur : {{form.message}}</h1><br><br>
                        {% endif %}
                    {% else %}
                    {% endif %}
                    <h1>Connexion</h1>
                    <hr>
                    <form method="post" class="login-form">
                        <label data-error="wrong" data-success="right" ></label>
                        <input type="email" name="email" placeholder="Email" class="validate" length="50" />
                        <input type="password" name="pass" placeholder="Mot de passe" data-error="wrong" data-success="right" class="validate"/>

                        <button type="submit" name="btConnect">Connexion</button>
    {#                    <p class="message"><a href="/mdpOublie">Mot de passe oublié ?</a></p>#}
    {#                    <p class="message">Vous n'avez pas de compte ? <a href="/inscription">Créer un compte</a></p>#}
                        <p class="message"><a href="../web/index.php?page=mdpOublie">Mot de passe oublié ?</a></p>
                        <p class="message">Vous n'avez pas de compte ? <a href="../web/index.php?page=inscription">Créer un compte</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block newsletter %}
    
{% endblock %}

{% block js%}


{% endblock %}
