{% extends "base.html.twig" %}

{% block style %}
    <link rel="stylesheet" href="../web/css/faq.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
{% endblock %}
{% block contenue %}    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <div class='container' style="margin-bottom: 115px; margin-top: 100px; padding-bottom: 100px; padding-top: 100px;">
        <div class='row'>
            <div class='col-sm-12'>
                <h1>Foire aux Questions</h1>
                <hr>
                <ul class='faq'>
                    {% for f in form.faq %}
                        <li class='q'><i class="fa fa-chevron-right" aria-hidden="true"></i>{{ f.quest }}</li>
                        <li class='a'>"{{ f.rep }}"</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block newsletter %}
    
{% endblock %}

{% block js %}
    <script src="../web/js/faq.js"></script>
{% endblock %}