{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Mes rendez-vous {% endblock %}
{% block style %}
    <!-- MDBootstrap Datatables  -->
    <link href="../web/mdb/css/addons/datatables.min.css" rel="stylesheet">
{% endblock %}

{% block contenue %}
    <br /><br /><br /><br />

    <div class="container">
        <div class="row">
            {% if session.login is defined %}
                {% if form.rdv.nb == 1 %}
                    <div class="panel panel-default col-lg-12">
                        <div class="panel-heading panel-title">
                            <h4>
                                Mes rendez-vous
                            </h4>
                        </div>
                        <div class="panel-body">
                            <table id="table" class="table table-responsive table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th class='col-lg-1'>Date </th>
                                        <th class='col-lg-1'>Lieu </th>
                                        <th class='col-lg-1'>Nom </th>
                                        <th class='col-lg-1'>Prenom </th>
                                        <th class='col-lg-1'>Heure </th>
                                        <th class='col-lg-1'><center>Pseudo<br/>-<br/>Skype</center></th>
                                        <th class='col-lg-1'>Téléphone</th>
                                        <th class='col-lg-1'>Adresse</th>
                                        <th class='col-lg-1'>Message </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rv in form.user %}
                                        <tr>
                                            <th class='col-lg-1'>{% if date(form.date) == date(rv.date) %}<span style="background-color: red;">{{rv.date|date('d/m/Y')}}</span>{% else %}{{ rv.date|date('d/m/Y') }}{% endif %}</th>
                                            <td class='col-lg-1'>{{ rv.method }}</td>
                                            <td class='col-lg-1'>{{ rv.nom }} </td>
                                            <td class='col-lg-1'>{{rv.prenom}} </td>
                                            <td class='col-lg-1'>{{rv.horaireDeb|date('H:i')}} </td>
                                            <td class='col-lg-1'>{% if rv.pseudoskype is null %} - {% else %} {{rv.pseudoskype}} {% endif %}</td>
                                            <td class='col-lg-1'>{{rv.telephone}} </td>
                                            <td class='col-lg-1'>{% if rv.adresse is null %} - {% else %} {{rv.adresse}} {% endif %}</td>
                                            <td class='col-lg-1'>{{rv.message}} </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <div class='row text-center'>
                        <div class="h-200 p-5 p-lg-5 bg-light site-block-feature-7">
                            <div class='text-black'>Vous n'avez pas encore pris de rendez-vous chez nous.</div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class='row text-center'>
                    <div class="h-200 p-5 p-lg-5 bg-light site-block-feature-7">
                        <div class='text-black'>Vous n'avez pas encore pris de rendez-vous chez nous.</div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
{% endblock %}

{% block newsletter %}

{% endblock %}

{% block js %}
    <!-- MDBootstrap Datatables  -->
    <script type="text/javascript" src="../web/mdb/js/addons/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
{% endblock %}