<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>Panel Administration</title>

        <link href="../web/assets/css/bootstrap.css" rel="stylesheet" />
        <link href="../web/assets/css/font-awesome.css" rel="stylesheet" />
        <link href="../web/assets/css/style.css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
        <!-- MDBootstrap Datatables  -->
        <link href="../web/mdb/css/addons/datatables.min.css" rel="stylesheet">
            <style>
                .table-fixed thead {
                    width: 100%;
                }
                .table-fixed tbody {
                    height: 300px;
                    overflow-y: auto;
                    width: 100%;
                }
                .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
                    display: block;
                }
                .table-fixed tbody td, .table-fixed thead > tr> th {
                    float: left;
                    border-bottom-width: 0;
                }
                .fixed_header tbody{
                    display:block;
                    overflow:auto;
                    height:300px;
                    width:100%;
                    margin: 0 auto;
                }
                .fixed_header thead tr{
                    display:block;
                }
                th, td{
                    text-align: left;
                    float: left;
                    width: 50%;
                }
                .scrollbar {
                    margin-left: 30px;
                    float: left;
                    height: 300px;
                    width: 65px;
                    background: #fff;
                    overflow-y: scroll;
                    margin-bottom: 25px;
                }
                .force-overflow {
                    min-height: 450px;
                }
                .scrollbar-primary::-webkit-scrollbar {
                    width: 12px;
                    background-color: #F5F5F5; }
                .scrollbar-primary::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                    background-color: #4285F4; }
                .scrollbar-danger::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                    background-color: #F5F5F5;
                    border-radius: 10px; }
                .scrollbar-danger::-webkit-scrollbar {
                    width: 12px;
                    background-color: #F5F5F5; }
                .scrollbar-danger::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                    background-color: #ff3547; }
                .scrollbar-warning::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                    background-color: #F5F5F5;
                    border-radius: 10px; }
                .scrollbar-warning::-webkit-scrollbar {
                    width: 12px;
                    background-color: #F5F5F5; }
                .scrollbar-warning::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                    background-color: #FF8800; }
                .scrollbar-success::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                    background-color: #F5F5F5;
                    border-radius: 10px; }
                .scrollbar-success::-webkit-scrollbar {
                    width: 12px;
                    background-color: #F5F5F5; }
                .scrollbar-success::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                    background-color: #00C851; }
                .scrollbar-info::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                    background-color: #F5F5F5;
                    border-radius: 10px; }
                .scrollbar-info::-webkit-scrollbar {
                    width: 12px;
                    background-color: #F5F5F5; }
                .scrollbar-info::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                    background-color: #33b5e5; }
                .scrollbar-default::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                    background-color: #F5F5F5;
                    border-radius: 10px; }
                .scrollbar-default::-webkit-scrollbar {
                    width: 12px;
                    background-color: #F5F5F5; }
                .scrollbar-default::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                    background-color: #2BBBAD; }
                .scrollbar-secondary::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                    background-color: #F5F5F5;
                    border-radius: 10px; }
                .scrollbar-secondary::-webkit-scrollbar {
                    width: 12px;
                    background-color: #F5F5F5; }
                .scrollbar-secondary::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                    background-color: #aa66cc; }
                .thin::-webkit-scrollbar {
                    width: 6px; }
                </style>
                {% block style %}
                {% endblock %}
        </head>
        <body>
            <div class="navbar navbar-light set-radius-zero">
{#            <a class="navbar-brand" href="/">#}
            <a class="navbar-brand" href="../web/">
                <img src="../web/assets/img/logo.png" />
            </a>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle navbar-inverse" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar bg-success"></span>
                        <span class="icon-bar bg-primary"></span>
                        <span class="icon-bar bg-success"></span>
                    </button>
                </div>
                <br/>
                <div class="right-div">
{#                    <a href="../deconnexion" class="btn btn-danger pull-right">Déconnexion</a>#}
{#                    <a href="../accueil" class="btn btn-danger pull-right">Retour</a>#}
                    <a href="../web/index.php?page=deconnexion" class="btn btn-danger pull-right">Déconnexion</a>
                    <a href="../web/index.php?page=accueil" class="btn btn-danger pull-right">Retour</a>
                </div>
            </div>
        </div>
        <!-- LOGO HEADER END-->
        <section class="menu-section">
            <div class="container">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="navbar-collapse collapse ">
                            <ul id="menu-top" class="nav navbar-nav navbar-right">
{#                                <li><a href="../panel">Acceuil Panel Admin</a></li>#}
{#                                <li><a href="../gestionrdv" >Mes rendez-vous</a></li>#}
                                <li><a href="../web/index.php?page=panel">Acceuil Panel Admin</a></li>
                                <li><a href="../web/index.php?page=gestionrdv" >Mes rendez-vous</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- MENU SECTION END-->
        <div class="content-wrapper">
            <div class="container-fluid">
                {% block panel %}
                    <div class="row pad-botm">
                        <div class="col-md-12">
                            <h4 class="header-line">Gestion du site</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="panel panel-success text-justify">
                                <div class="panel-heading h4">
                                    Les clients
                                </div>
                                <div class="panel-body">
                                    <table id="table" class="table table-responsive table-striped table-condensed table-sm">
                                        <thead>
                                            <tr>
                                                <th class="col-lg-3 th-sm">Nom</th>
                                                <th class="col-lg-3 th-sm">Prénom</th>
                                                <th class="col-lg-3 th-sm">Téléphone</th>
                                                <th class="col-lg-3 th-sm">E-mail</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for u in form.utilisateur %}
                                                <tr>
                                                    <td class="col-lg-3">{{ u.nom|upper }}</td>
                                                    <td class="col-lg-3">{{ u.prenom|capitalize }}</td>
                                                    <td class="col-lg-3">{{ u.telephone }}</td>
                                                    <td class="col-lg-3">{{ u.email }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    Dernières actualités
                                </div>
                                <div class="panel-body">
                                    <ul class="media-list">
                                        {% for a in form.actualite %}
                                            <li class="media">
                                                <div class="pull-left">
                                                    <img class="media-object img-circle img-comments" src="../web/images/person_7.gif" alt="Julie Bressand"/>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">{{ a.titre }}</h4>
                                                    <p>
                                                        {{ a.message }}
                                                    </p>
                                                </div>
                                                <p class="pull-right">
                                                    {{ a.date|date('d/m/Y') }}
                                                </p>
                                            </li>
                                            <hr>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    Derniers avis
                                </div>
                                <div class="panel-body">
                                    <ul class="media-list">
                                        {% for av in form.avis %}
                                            <li class="media">
                                                <p class="pull-left" href="#">
                                                    <p>{{ av.nom|upper }} {{ av.prenom|capitalize }}</p>
                                                </p>
                                                <div class="media-body">
                                                    <h4 class="media-heading">{{ av.titre }}</h4>
                                                    <p>
                                                        {{ av.message }}
                                                    </p>
                                                </div>
                                                <p class="pull-right">
                                                    le {{ av.date|date('d/m/Y') }}
                                                </p>
                                            </li>
                                            <hr>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='container-fluid'>
                    <div class='row'>
                        <div class="col-md-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    Ajouter une actualité
                                </div>
                                <div class="panel-body">                                                
                                    {% if form.actu is defined %}
                                        {% if form.actu == true %}
                                            <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1><br><br>
                                        {% else %}
                                            <h1 class="h3 mb-3 font-weight-normal">Erreur : {{form.message}}</h1><br><br>
                                        {% endif %}
                                    {% else %}
                                        <form method="post" role="form">
                                            <div class="form-group">
                                                <label>Entrer le titre</label>
                                                <input class="form-control" name="titre" type="text" />
                                            </div>
                                            <div class="form-group">
                                                <label>Entrer le message</label>
                                                <input class="form-control" type="text" name="message" style="min-height:100px;" />
                                            </div>
                                            <button type="submit" name="btAjouter" class="btn btn-success">Ajouter l'actualité </button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">Ajouter une FAQ
                                </div>
                                <div class="panel-body">
                                    {% if form.faq is defined %}
                                        {% if form.faq == true %}
                                            <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1><br><br>
                                        {% else %}
                                            <h1 class="h3 mb-3 font-weight-normal">Erreur : {{form.message}}</h1><br><br>
                                        {% endif %}
                                    {% else %}
                                        <form method="post" role="form">
                                            <div class="form-group">
                                                <label>Question ?</label>
                                                <input class="form-control" name="quest" type="text" />
                                            </div>
                                            <div class="form-group">
                                                <label>Réponse :</label>
                                                <input class="form-control" type="text" name="rep" style="min-height:100px;" />
                                            </div>
                                            <button type="submit" name="btAjouterFaq" class="btn btn-success">Ajouter la faq</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">Envoyer un mail a tous les utilisateurs
                                </div>
                                <div class="panel-body">
                                    {% if form.mail is defined %}
                                        {% if form.mail == true %}
                                            <h1 class="h3 mb-3 font-weight-normal">Votre email a bien été envoyé à tous vos utilisateurs inscrits à la newsletter!</h1><br><br>
                                        {% else %}
                                            <h1 class="h3 mb-3 font-weight-normal">Un problème à eu lieu</h1><br>
                                            <h1 class="h3 mb-3 font-weight-normal">Erreur : {{form.message}}</h1><br><br>
                                        {% endif %}
                                    {% else %}
                                        <form method="post" role="form">
                                            <div class="form-group">
                                                <label>Objet</label>
                                                <input class="form-control" type="text" name="Message"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Réponse :</label>
                                                <input class="form-control" type="text" name="Objet" style="min-height:100px;" />
                                            </div>
                                            <button type="submit" name="btEnvoyer" class="btn btn-success">Envoyer le mail</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
        <br/>
        <!-- CONTENT-WRAPPER SECTION END-->
        <section class="footer-section">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">&copy; 2019. JulieBressand Naturopathe |<a href="http://www.binarytheme.com/" target="_blank"  > Designed by : binarytheme.com</a>
                    </div>
                </div>
            </div>
        </section>
        <script src="../web/assets/js/jquery-1.10.2.js"></script>
        <script src="../web/assets/js/bootstrap.js"></script>
        <script src="../web/assets/js/custom.js"></script>
        <!-- MDBootstrap Datatables  -->
        <script type="text/javascript" src="../web/mdb/js/addons/datatables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#table').DataTable();
                $('.dataTables_length').addClass('bs-select');
            });
        </script>
            {% block js%}
            {% endblock %}
        </body>
</html>
